<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26124063157-dokvgblonfe7jreg35kj22mc6cj98g06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26124063157-dokvgblonfe7jreg35kj22mc6cj98g06</string>
	<key>API_KEY</key>
	<string>AIzaSyD9kah7b8yndYaKZEtFxoI5B9EIpUZRIYk</string>
	<key>GCM_SENDER_ID</key>
	<string>26124063157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.normprojects.DEViOS</string>
	<key>PROJECT_ID</key>
	<string>devios-d128e</string>
	<key>STORAGE_BUCKET</key>
	<string>devios-d128e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26124063157:ios:6368a2c2d81d3872dac9fc</string>
</dict>
</plist>